<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=640">
    <title>震惊！你家孩子在社交媒体上竟然是这样的……</title>
    <meta name="Copyright" content="holyhilab.com">
    <meta name="description" content="妈妈不在家，双胞胎竟然...">
    <meta property="og:image" content="http://cdn.holyhilab.com/meta.png">
    <meta name="keywords" content="活动、分享">
    <style>
      .wrap{margin:0 auto;position:relative;width:200px;height:0}.ball,.shadow{border-radius:100%;left:0;margin:auto;position:absolute;right:0;top:0}.ball{position:relative;-webkit-animation:ball .3s cubic-bezier(.165,.84,.44,1) infinite alternate;animation:ball .3s cubic-bezier(.165,.84,.44,1) infinite alternate;height:200px;width:200px;overflow:hidden}.shadow{-webkit-animation:shadow .3s cubic-bezier(.165,.84,.44,1) infinite alternate;animation:shadow .3s cubic-bezier(.165,.84,.44,1) infinite alternate;background:#000;bottom:-390px;height:30px;width:200px}.blue .ball,.blue .shadow{-webkit-animation-delay:0;animation-delay:0}@-webkit-keyframes ball{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-150px);transform:translateY(-150px)}}@keyframes ball{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-150px);transform:translateY(-150px)}}@-webkit-keyframes shadow{0%{opacity:.2;-webkit-transform:scale(.75);transform:scale(.75)}100%{opacity:.05;-webkit-transform:scale(1);transform:scale(1)}}@keyframes shadow{0%{opacity:.2;-webkit-transform:scale(.75);transform:scale(.75)}100%{opacity:.05;-webkit-transform:scale(1);transform:scale(1)}}#ling{display:none}
    </style>
  </head>
  <body>
    <img src="http://cdn.holyhilab.com/meta.png" style="width:0px; height:0px; overflow:hidden; display: block;">
    <div id="loading">
      <div class="wrap blue">
        <div class="shadow"></div>
        <img class="ball" src="http://cdn.holyhilab.com/loading.png">
      </div>
      <div class="progress">
        <div class="child"></div>
      </div>
    </div>
    <div id="masker" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <canvas id="start-img"></canvas>
      <img src="http://cdn.holyhilab.com/loading-tip.png" class="loading-tip">
    </div>
    <div class="video-wrapper js-video-wrapper">
      <div class="video-responsive">
        <video id="video" class="video js-video" 
          webkit-playsinline 
          playsinline
          webkit-playsinline
          playsinline 

          x-webkit-airplay="allow" 
          x5-video-player-type="h5"  
          x5-video-player-fullscreen="true"
          x5-video-orientation="portraint"
          style="object-fit:fill">
          <source src="http://cdn.holyhilab.com/frist-video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div id="phone">
      <img src="http://cdn.holyhilab.com/hangup.png" class="left">
      <img src="http://cdn.holyhilab.com/receive.png" class="right animated infinite swing">
    </div>
    <div class="video-wrapper js-video-wrapper-2">
      <div class="video-responsive">
        <video id="video" class="video js-video-2" webkit-playsinline="" playsinline="">
          <source src="http://cdn.holyhilab.com/second-video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div id="slide">
      <img src="http://cdn.holyhilab.com/move-tip.png" class="move-tip">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0000_1.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0001_2.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0002_3.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0003_4.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0004_5.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0005_6.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0006_7.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0007_8.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0008_9.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0009_10.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0010_11.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0011_12.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0012_13.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0013_14.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0014_15.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0015_16.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0016_17.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0017_18.png"></div>
          <div class="swiper-slide"><img src="http://cdn.holyhilab.com/J_0018_19.png"></div>
        </div>
      </div>
      <div class="clouds-wrap">
        <img src="http://cdn.holyhilab.com/cloud1.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud2.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud3.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud4.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud5.png" class="clouds">
        <img src="http://cdn.holyhilab.com/cloud-bottom.png" class="clouds">
      </div>
      <div class="bao-wrap">
        <img src="http://cdn.holyhilab.com/G_0011_Guoxiaobao1-zuobian.png" class="left">
        <img src="http://cdn.holyhilab.com/G_0010_Guoxiaobao2-zuobian.png" class="left">
        <img src="http://cdn.holyhilab.com/G_0009_Guoxiaobao3-zuobian.png" class="left">
        <img src="http://cdn.holyhilab.com/G_0008_Guoxiaobao4-zuobian.png" class="left">
        <img src="http://cdn.holyhilab.com/G_0007_Guoxiaobao5-zuobian.png" class="left">
        <img src="http://cdn.holyhilab.com/G_0006_Guoxiaobao6-zuobian.png" class="left">
        <img src="http://cdn.holyhilab.com/G_0005_Guoxiaobao7-youbian.png" class="right">
        <img src="http://cdn.holyhilab.com/G_0004_Guoxiaobao8-youbian.png" class="right">
        <img src="http://cdn.holyhilab.com/G_0003_Guoxiaobao9-youbian.png" class="right">
        <img src="http://cdn.holyhilab.com/G_0002_Guoxiaobao10-youbian.png" class="right">
        <img src="http://cdn.holyhilab.com/G_0001_Guoxiaobao11-youbian.png" class="right">
        <img src="http://cdn.holyhilab.com/G_0000_Guoxiaobao12-youbian.png" class="right">
      </div>
    </div>
    <div id="end">
      <img src="http://cdn.holyhilab.com/txt-1.png" class="animated fadeInAndOut txt txt_01">
      <img src="http://cdn.holyhilab.com/txt-2.png" class="animated fadeInAndOut txt txt_02">
      <img src="http://cdn.holyhilab.com/txt-3.png" class="animated fadeIn txt txt_03">
      <div class="finger_wrap">
        <img src="http://cdn.holyhilab.com/right-finger.png" class="animated fadeIn txt finger_left">
        <img src="http://cdn.holyhilab.com/left-finger.png" class="animated txt finger_right">
        <img src="http://cdn.holyhilab.com/share-tip-1.png" class="animated share_tip">
      </div>
      <img src="http://cdn.holyhilab.com/click-tip.png" class="share-tip">
    </div>
    <audio id="ling" src="http://cdn.holyhilab.com/ling.mp3" loop></audio>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  </body>
</html>
